WCFTest.Web/Service References/DealerService/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://price.yiche.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://price.yiche.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://price.yiche.com/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:3721/DealerService/metadata?xsd=xsd0" namespace="http://price.yiche.com/" />
      <xsd:import schemaLocation="http://127.0.0.1:3721/DealerService/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:3721/DealerService/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTest.Contract.Model" />
      <xsd:import schemaLocation="http://127.0.0.1:3721/DealerService/metadata?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeslersService_GetDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealer" />
  </wsdl:message>
  <wsdl:message name="DeslersService_GetDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealerResponse" />
  </wsdl:message>
  <wsdl:message name="DeslersService_GetDealers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealers" />
  </wsdl:message>
  <wsdl:message name="DeslersService_GetDealers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealersResponse" />
  </wsdl:message>
  <wsdl:portType name="DeslersService">
    <wsdl:operation name="GetDealer">
      <wsdl:input wsaw:Action="http://price.yiche.com/DeslersService/GetDealer" message="tns:DeslersService_GetDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://price.yiche.com/DeslersService/GetDealerResponse" message="tns:DeslersService_GetDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealers">
      <wsdl:input wsaw:Action="http://price.yiche.com/DeslersService/GetDealers" message="tns:DeslersService_GetDealers_InputMessage" />
      <wsdl:output wsaw:Action="http://price.yiche.com/DeslersService/GetDealersResponse" message="tns:DeslersService_GetDealers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>