WCFTest.Client/Service References/WCFService/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://price.yiche.com/" elementFormDefault="qualified" targetNamespace="http://price.yiche.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:3721/DealerService/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTest.Contract.Model" />
  <xs:import schemaLocation="http://127.0.0.1:3721/DealerService/metadata?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vendorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTest.Contract.Model" minOccurs="0" name="GetDealerResult" nillable="true" type="q1:DealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vendorIds" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFTest.Contract.Model" minOccurs="0" name="GetDealersResult" nillable="true" type="q3:ArrayOfDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>